@tailwind base;
@tailwind components;
@tailwind utilities;

.dotted-background {
    position: relative;
    overflow: hidden;
  }
  
  .dotted-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent 20%, rgba(0,0,0,0.05) 20%, rgba(0,0,0,0.05) 25%, transparent 25%);
    background-size: 30px 30px; /* Adjust the size of the dots */
    z-index: 0;
  }
  
  .content {
    position: relative;
    z-index: 1;
  }